/* Kenndy 6742014*/


.tableTable, .tableTable tr, .tableTable td {

    border: 1px solid black;
    width:500px;
    height:100px;
    border-collapse: collapse;
    font-size:25px;
    text-align:center;

}

.trClass1 td {

    font-size:40px;
    font-weight:bold;
    text-align: center;
}
.hiddenTBody {
    
    visibility:visible !important;
}